body
{
}


table.board
{
    border: 2px solid #020202;
    margin-bottom: 5px;
    border-spacing: 0px;
}

table.board td
{
    font-size: 12px;
    height: 23px;
    width: 23px;
    border: 1px solid #020202;
}

table.tileHolder
{
    border: 2px inset #020202;
    margin: 5px;
}

table.tileHolder td
{
    padding: 5px;
    font-size: 12px;
    height: 20px;
    width: 20px;
    border: 1px solid #020202;
}

.actionArea {
    margin: 1px;
    width: 30%;
}

.playArea {
    margin: 1px;
    width: 69%;
}

.boxContainer {
    margin: 1px;
    border:1px solid #030303;
}

.activeButton td{
    border: 1px solid green;
}

.activeGame td {
    background-color: rgb(179, 238, 179);
}

.actionButton:hover {
    cursor: pointer;
    background-color: #e1dede;
}

table.box th { background:#dcdcdc;padding:5px 2px; font-size:16px; font-weight:bold; }

.points {
    font-size: 18px;
    font-weight: bold;
}

.actionPanel {
    width: 60%;
}

table.action {
    border-spacing: 1px;
}

table.action td {
    background-color: rgb(192, 187, 221);
}

.tilesRemaining {
    font-weight: bolder;
    color: white;
}

.smallHeader {
    font-size: 10pt;
    font-weight: bolder;
}

.lastMove {
    border: 3px solid green;
}

.winner {
    color: green;
}

.loser {
    color: red;
}

.winner, .loser {
    font-size: 25pt;
    font-weight: bolder;
}

.progress {
    position: absolute;
    background-color: rgb(82, 168, 82);
}
