<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="AppacitiveKey" value="CVCpeSWmL3BexUR53FiY3fS9M5xiAj0ynMk5A7CyL+w="/>
    <add key="AppacitiveEnviornment" value="SandBox"/>
    <add key="MaxTilesPerPlayer" value="12"/>
    <add key="TileSetCountPerGame" value="4"/>
    <add key="EnableLogging" value="Y"/>
    <add key="LogCallsSlowerThan" value="1500"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="get/AccountService.svc" service="GetOnBoard.Services.ServiceImpl.AccountService"/>
        <add relativeAddress="get/GameService.svc" service="GetOnBoard.Services.ServiceImpl.GameService"/>
        <add relativeAddress="get/MovesService.svc" service="GetOnBoard.Services.ServiceImpl.MovesService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings/>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true"/>
        </behavior>
        <behavior name="Default">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint maxReceivedMessageSize="4194304" maxBufferSize="4194304" maxBufferPoolSize="0">
          <readerQuotas maxStringContentLength="4194304" maxArrayLength="4194304" maxDepth="4194304"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service name="GetOnBoard.Services.ServiceImpl.AccountService">
        <endpoint address="mex" kind="mexEndpoint"/>
        <endpoint kind="webHttpEndpoint" contract="GetOnBoard.Services.ServiceContracts.IAccountService" behaviorConfiguration="web"/>
      </service>
      <service name="GetOnBoard.Services.ServiceImpl.GameService">
        <endpoint address="mex" kind="mexEndpoint"/>
        <endpoint kind="webHttpEndpoint" contract="GetOnBoard.Services.ServiceContracts.IGameService" behaviorConfiguration="web"/>
      </service>
      <service name="GetOnBoard.Services.ServiceImpl.MovesService">
        <endpoint address="mex" kind="mexEndpoint"/>
        <endpoint kind="webHttpEndpoint" contract="GetOnBoard.Services.ServiceContracts.IMovesService" behaviorConfiguration="web"/>
      </service>
    </services>
    <client/>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCaching="true" enableCompression="true"/>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear/>
        <add name="configConsoleListener" type="GetOnBoard.Core.Infra.AppacitiveTraceListener, GetOnBoard.Core.Infra" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>